name: "Water meter server"
description: "Server stores images of my water meter esp32 cameras for futher processing"
version: "0.5.2"
slug: "espcam-server"
init: false
schema:
  server_api_key: "str?"
  server_port: "int?"
  mongo_userdb_login: "str?"
  mongo_userdb_pass: "str?"
  mongo_db_name: "str?"
  mongo_db_domain: "str?"
  mongo_db_port: "int?"
options:
  server_port: 8085
  mongo_db_port: 8084
arch:
  - aarch64
startup: services
ports:
  8085/tcp: 8085 # server port
  8084/tcp: 8084 # mongodb port
ingress: true
